<a href="https://colab.research.google.com/github/cedricclg/Deep-Learning/blob/master/Taxi_Destination_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing the data

In [0]:
import os
import pandas as pd

from google.colab import drive
drive.mount('/content/drive')

def get_data():
  data_path = '/content/drive/My Drive/Deep-Learning/Deep-Learning/Data/'

  df_train = pd.read_csv(data_path + "train.csv")
  df_test = pd.read_csv(data_path + "test.csv")
  df_sample = pd.read_csv(data_path + "sampleSubmission.csv")

  return df_train, df_test, df_sample

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
df_train, df_test, df_sample = get_data()

In [0]:
display(df_train.head())
display(df_test.head())
display(df_sample.head())

               TRIP_ID  ...                                           POLYLINE
0  1372636858620000589  ...  [[-8.618643,41.141412],[-8.618499,41.141376],[...
1  1372637303620000596  ...  [[-8.639847,41.159826],[-8.640351,41.159871],[...
2  1372636951620000320  ...  [[-8.612964,41.140359],[-8.613378,41.14035],[-...
3  1372636854620000520  ...  [[-8.574678,41.151951],[-8.574705,41.151942],[...
4  1372637091620000337  ...  [[-8.645994,41.18049],[-8.645949,41.180517],[-...

[5 rows x 9 columns]

  TRIP_ID  ...                                           POLYLINE
0      T1  ...  [[-8.585676,41.148522],[-8.585712,41.148639],[...
1      T2  ...  [[-8.610876,41.14557],[-8.610858,41.145579],[-...
2      T3  ...  [[-8.585739,41.148558],[-8.58573,41.148828],[-...
3      T4  ...  [[-8.613963,41.141169],[-8.614125,41.141124],[...
4      T5  ...      [[-8.619903,41.148036],[-8.619894,41.148036]]

[5 rows x 9 columns]

  TRIP_ID   LATITUDE  LONGITUDE
0      T1  41.146504  -8.611317
1      T2  41.146504  -8.611317
2      T3  41.146504  -8.611317
3      T4  41.146504  -8.611317
4      T5  41.146504  -8.611317

# Feature Engineering

In [0]:
import datetime
import json 

class OurFeatureEngineering:
  def __init__(self, data_train, data_test):
    self.df_train = data_train
    self.df_test = data_test


  def type_organise(self):  
    for data in [self.df_train, self.df_test]:
      # Polyline - transforming string of list to list
      for i in range(data.shape[0]):
        data['POLYLINE'] = data['POLYLINE'].apply(lambda x: json.loads(x))
        #data["POLYLINE"][i] = json.loads(data["POLYLINE"][i])
      
      # For others features
      data["TRIP_ID"] = data["TRIP_ID"].astype('object')
      data["CALL_TYPE"] = data["CALL_TYPE"].astype('category')
      data["ORIGIN_CALL"] = data["ORIGIN_CALL"].fillna(-1).astype('int64')
      data["ORIGIN_STAND"] = data["ORIGIN_STAND"].fillna(-1).astype('int64')
      data["TAXI_ID"] = data["TAXI_ID"].fillna(-1).astype('int64')
      data["TIMESTAMP"] = data["TIMESTAMP"].fillna(-1).astype('int64')
      data["DAY_TYPE"] = data["DAY_TYPE"].astype('category')
      data["MISSING_DATA"] = data["MISSING_DATA"].astype('bool')


  # Creation of others features
  def creation_features(self):
    for data in [self.df_train, self.df_test]:
      data['LEN'] = data['POLYLINE'].apply(lambda x: len(x))
      data['TIMESTAMP_END'] = data['TIMESTAMP'].map(int) + data['LEN'].map(lambda x: 15*x)
      data['END_HOUR_2'] = data['TIMESTAMP_END'].map(lambda x: datetime.datetime.utcfromtimestamp(x).hour)
      data['END_DATE_2'] = data['TIMESTAMP_END'].map(lambda x: datetime.datetime.utcfromtimestamp(x).day)
      display(data[['LEN', 'TIMESTAMP_END', 'END_HOUR_2', 'END_DATE_2']])
      print(data["END_DATE_2"].unique())
      print(data["LEN"].max())


  # Fixing the length of the taxi trajectory
  def fixing_len_trajectory(self, k):
    pass

In [0]:
ourfeat = OurFeatureEngineering(df_train, df_test)
ourfeat.type_organise()
ourfeat.creation_features()

print(df_train.dtypes)
display(df_train.head())

In [0]:
display(df_train)

                     TRIP_ID  ...                                           POLYLINE
0        1372636858620000589  ...  [[-8.618643, 41.141412], [-8.618499, 41.141376...
1        1372637303620000596  ...  [[-8.639847, 41.159826], [-8.640351, 41.159871...
2        1372636951620000320  ...  [[-8.612964, 41.140359], [-8.613378, 41.14035]...
3        1372636854620000520  ...  [[-8.574678, 41.151951], [-8.574705, 41.151942...
4        1372637091620000337  ...  [[-8.645994, 41.18049], [-8.645949, 41.180517]...
...                      ...  ...                                                ...
1710665  1404171463620000698  ...  [[-8.612469,41.14602],[-8.612487,41.145993],[-...
1710666  1404171367620000670  ...  [[-8.610138,41.140845],[-8.610174,41.140935],[...
1710667  1388745716620000264  ...                                                 []
1710668  1404141826620000248  ...  [[-8.630712,41.154885],[-8.63073,41.154813],[-...
1710669  1404157147620000079  ...  [[-8.615538,41.140629],[-8.615421,41.140746],[...

[1710670 rows x 9 columns]

In [0]:
print(df_train.dtypes)

df_train["TRIP_ID"] = df_train["TRIP_ID"].astype('object')
df_train["CALL_TYPE"] = df_train["CALL_TYPE"].astype('category')
df_train["ORIGIN_CALL"] = df_train["ORIGIN_CALL"].fillna(-1).astype('int64')
df_train["ORIGIN_STAND"] = df_train["ORIGIN_STAND"].fillna(-1).astype('int64')
df_train["TAXI_ID"] = df_train["TAXI_ID"].fillna(-1).astype('int64')
df_train["TIMESTAMP"] = df_train["TIMESTAMP"].fillna(-1).astype('int64')
df_train["DAY_TYPE"] = df_train["DAY_TYPE"].astype('category')
df_train["MISSING_DATA"] = df_train["MISSING_DATA"].astype('bool')

print(df_train.dtypes)

TRIP_ID           object
CALL_TYPE       category
ORIGIN_CALL        int64
ORIGIN_STAND     float64
TAXI_ID            int64
TIMESTAMP          int64
DAY_TYPE          object
MISSING_DATA        bool
POLYLINE          object
dtype: object
TRIP_ID           object
CALL_TYPE       category
ORIGIN_CALL        int64
ORIGIN_STAND       int64
TAXI_ID            int64
TIMESTAMP          int64
DAY_TYPE        category
MISSING_DATA        bool
POLYLINE          object
dtype: object

# Creation of the model

In [0]:
# Embedding of taxiID, clientID,

# Fitting the model

# Validation of the model

# Prediction